<ion-header>
  <ion-navbar>
    <ion-title>Scontrino</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Scontrino app</h1>
  <button ion-button block color="default" large>API LAST FM <ion-icon name='call'></ion-icon></button>
  <br>
  <button ion-button block color="danger" large>API EDISTAR <ion-icon name='musical-notes'></ion-icon></button>  
  <ion-list *ngIf="completed">
    <ion-item  *ngFor="let canzone of data">
      {{canzone.nome_canzone +" "+ canzone.artista_canzone}}      
    </ion-item>
  </ion-list>
</ion-content>
